ul{
  margin-bottom: 0;
}

.h-full{
	height: 100% !important;
}

.c-full{
	justify-content: space-between;
	display: flex;
	height: 100%;
	align-items: center;
}

.tx-none{
  text-decoration: none !important;
}

.pst-rel{
  position: relative;
}

.scale-link{
	transition-timing-function: ease-out;
  transition-duration: 250ms;
  transform: scale(1.0);
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -ms-transform: scale(1.0);
  -o-transform: scale(1.0);
}

.scale-link:hover{
	transition-timing-function: ease-out;
  transition-duration: 100ms;
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
}

/* loadind star page */
.animsition-loading-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader05 {
  width: 56px;
  height: 56px;
  border: 4px solid #717fe0;
  border-radius: 50%;
  position: relative;
  animation: loader-scale 1s ease-out infinite;
  top: 50%;
  margin: -28px auto 0 auto; 
}

@keyframes loader-scale {
  0% {
    transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0; } 
}

/*Time item*/
.time-one{
  animation-duration: 1.3s;
}
.time-two{
  animation-duration: 1.8s;
}
.time-three{
  animation-duration: 2.3s;
}


/*Slider span animate*/
.visible-false {visibility: hidden;}
.visible-true {visibility: visible;}