img{
        vertical-align: bottom;
}

.h-full{
	height: 100%;
}

.c-full{
	justify-content: space-between;
	display: flex;
	height: 100%;
	align-items: center;
}

.active-nav a{
        color: red;
}

/*
border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
transition: .3s ease-in-out all;
        -webkit-transition: .3s ease-in-out all;
        -moz-transition: .3s ease-in-out all;
        -ms-transition: .3s ease-in-out all;
        -o-transition: .3s ease-in-out all;
 transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);*/