*{
	margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
	font-family: 'Montserrat', sans-serif;
}

:root{
    --g1: #fe0000;
    --g2: #1700c2;
    --g3: #b2b2b2;
    --g4: #585858;
    --g5: #fbbb01;
}

/*----------- VIEW DESKTOP HEADER-MENU -----------*/

.container-menu-desktop{
	height: auto;
	width: 100%;
	position: relative;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

/*Header desktop*/
.top-bar{
	height: 40px;
	background-color: #222;
}

.content-topbar{
	font-size: 14px;
}

.left-top-bar{
	color:var(--g3);
}

.right-top-bar{
	
}

.right-top-bar a:first-child{
	border-left: 1px solid rgba(255,255,255,0.3);	
}

.right-top-bar a, .right-top-bar span {
	color:var(--g3);
	border-right: 1px solid rgba(255,255,255,0.3);
	padding-left: 25px;
	padding-right: 25px;
	transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.right-top-bar a:hover {
  color: var(--g1);
}

/*Navigation desktop*/
.wrap-nav-desktop{
	position: fixed;
  z-index: 1100;
  background-color: transparent;
  width: 100%;
  top: 40px;
  left: 0px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}


.fix-nav-desktop .wrap-nav-desktop {

  background-color: rgba(255,255,255,0.9);
  box-shadow: 0 0px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0px 10px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0px 10px 0px rgba(0,0,0,0.2);
  -o-box-shadow: 0 0px 10px 0px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 0px 10px 0px rgba(0,0,0,0.2);
}

.container-nav-desktop{
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: flex-start;
	margin-top: 20px;
	margin-bottom: 10px;
}

.logo{
	margin-right: 40px;
}

.nav-desktop{
	display: flex;
}

.main-nav{
	display: flex;
	align-items: center;
	height: 100%;
	margin: auto;
}


.main-nav li a{
	padding: 0px 14px 0px 14px;
	font-size: 17px
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color: var(--g4);
	font-weight: 600;
}

.main-nav li a:hover{
	color: var(--g2);
}

.cont-icon-nav{
	justify-content: flex-end;
	flex-wrap: wrap;
	flex-grow: 1;
	display: flex;
}

.cont-icon-nav .icon-nav{
	margin-left: 20px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	font-size: 20px;
	color: var(--g4);
	cursor: pointer;
}

.cont-icon-nav .icon-nav:hover{
	color: var(--g2);
}

/*Menu Desktop*/
.wrap-menu-desktop{
	position: relative;
}

.menu-desktop{
	display: flex;
	justify-content: space-between;
	margin-bottom: 0;
}

.item-menu-desktop{
  position: relative;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.item-menu-desktop:hover{
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.item-menu-desktop > a{
	position: relative;
  display: block;
  text-align: center;
  z-index: 2;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;
  padding: 15px;
  overflow: hidden;
  color: var(--g2);
  font-weight: 600;
  font-size: 13px;
}

.item-menu-desktop > a::after{
	content: '';
	width: 210%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: calc(-100% - 250px);
  border-bottom: 118px solid rgba(107, 107, 107, 0.1);
  border-right: 100px solid transparent;
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;
}

.item-menu-desktop:hover > a::after{
	left: 0;
}

.item-menu-desktop:hover > a{
	color: var(--g5);
}

.submenu-desktop{
	position: absolute;
	clip-path: var(--clip);
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	display: flex;
	background-color: rgba(255,255,255,0.9);
	border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
	padding: 10px;
}

.item-submenu-desktop{
	padding: 0px 10px;
}

.item-submenu-desktop > a{
	display: flex;
	width: max-content;
	color: black;
	font-weight: 500;
	font-size: 15px;
}

.item-nextSub-desktop{
	list-style: initial;
	list-style-type: circle;
	margin-left: 20px;
}

.item-nextSub-desktop > a{
	display: flex;
	width: max-content;
	padding: 8px 0px 8px 4px;
	font-size: 15px;
	/*color: #3b5998;*/
}

.item-menu-desktop:last-child .submenu-desktop,
.item-menu-desktop:nth-last-child(2) .submenu-desktop,
.item-menu-desktop:nth-last-child(3) .submenu-desktop{
	right: 0;
}

/* ///////////////////////////// */
/*Splide library*/

@media (min-width: 1024px) {
	.slider-one{
		background-image: url("http://localhost/carlos/project_cg/Assets/ecommerce/images/slider-one-global.png");
	}

	.slider-two{
		background-image: url("http://localhost/carlos/project_cg/Assets/ecommerce/images/slider-two-global.png");
	}

	.layer-container{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		height: 100%;
		border: 1px solid green;
		padding-left: 10%;
		padding-top: 	5%;
	}
}

@media (max-width: 1024px) {
 .slider-one{
		background-image: url("http://localhost/carlos/project_cg/Assets/ecommerce/images/slider-one1024px.png");
	}

	.slider-two{
		background-image: url("http://localhost/carlos/project_cg/Assets/ecommerce/images/slider-two1024px.png");
	} 

	.layer-container{
		padding-top: 	25%;	
		padding-left: 15%;
	}
}

.item-splide1 {
  height: calc(100vh - 0px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.splide__arrows{
	opacity: 0;
}

.splide__arrow{
	height: 0;
	background: none;
	opacity: 0.4;
	outline: none;
}

.splide:hover .splide__arrows{
	opacity: 1;
}

.layer-splide1{
	margin-top: 15px;
}


.text01{
	font-size: 40px;
	font-family: 'Permanent Marker', cursive;
	color: var(--g2);
	font-weight: 	600;
}

.text02{
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

@media(max-width: 768px){
	.layer-container{
		padding-top: 40%;
	}



	.text01{
		font-size: 20px;
	}

	.marc-slider{
		width: 200px;
	}

	.text02{
		display: none;
	}
}

/* ///////////////////////////// */


/*------ // STYLE RESPONSIVE // ------*/

.container {max-width: 1380px;}

@media (max-width: 1600px) {
  .container {max-width: 1200px;}
}

@media (max-width: 1100px){
	.container-menu-desktop{display: none;}
}

