*{
	margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
	font-family: 'Montserrat', sans-serif;
}

:root{
    --g1: #fe0000;
    --g2: #1700c2;
    --g3: #b2b2b2;
    --g4: #585858;
}

/*----------- VIEW DESKTOP HEADER-MENU -----------*/

.container-menu-desktop{
	height: auto;
	width: 100%;
	position: relative;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

/*Header desktop*/
.top-bar{
	height: 40px;
	background-color: #222;
}

.content-topbar{
	font-size: 14px;
}

.left-top-bar{
	color:var(--g3);
}

.right-top-bar{
	
}

.right-top-bar a:first-child{
	border-left: 1px solid rgba(255,255,255,0.3);	
}

.right-top-bar a, .right-top-bar span {
	color:var(--g3);
	border-right: 1px solid rgba(255,255,255,0.3);
	padding-left: 25px;
	padding-right: 25px;
	transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.right-top-bar a:hover {
  color: var(--g1);
}

/*Navigation desktop*/
.wrap-nav-desktop{
}

.limiter-nav-desktop{
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: flex-start;
}

.logo{
	margin-right: 40px;
}

.nav-desktop{
	display: flex;
}

.main-nav{
	display: flex;
	align-items: center;
	height: 100%;
	margin: auto;
}


.main-nav li a{
	padding: 0px 14px 0px 14px;
	font-size: 16px
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color: var(--g4);
}

.main-nav li a:hover{
	color: var(--g2);
}

.cont-icon-nav{
	justify-content: flex-end;
	flex-wrap: wrap;
	flex-grow: 1;
	display: flex;
}

.cont-icon-nav .icon-nav{
	margin-left: 20px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	font-size: 20px;
	color: var(--g4);
	cursor: pointer;
}

.cont-icon-nav .icon-nav:hover{
	color: var(--g2);
}

/*Menu Desktop*/
.wrap-menu-desktop{

}

.menu-desktop{
	display: flex;
	justify-content: space-between;
	margin-bottom: 0;
}

.item-menu-desktop{
  position: relative;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.item-menu-desktop:hover{
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.item-menu-desktop > a{
	position: relative;
  display: block;
  text-align: center;
  z-index: 2;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;
  padding: 15px;
  overflow: hidden;
}

.item-menu-desktop > a::after{
	content: '';
	width: 210%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: calc(-100% - 250px);
  border-bottom: 118px solid rgba(107, 107, 107, 0.2);
  border-right: 100px solid transparent;
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;
}

.item-menu-desktop:hover > a::after{
	left: 0;
}

.submenu-desktop{
	position: absolute;
	clip-path: var(--clip);
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

/*------ // STYLE RESPONSIVE // ------*/

.container {max-width: 1380px;}

@media (max-width: 1600px) {
  .container {max-width: 1200px;}
}

@media (max-width: 991px){
	.container-menu-desktop{display: none;}
}




