:root{
    /* --cg_one: #0004D5; */
    --cg_one: #1CA9E1;
    --cg_two: #FE0000;
    --cg_three: rgb(56, 56, 56);
}
/* ----------------------------------- */
.aside-mc{
    background-color: var(--cg_one);
}

.logocg-mc{
    background: #fff;
}

.title-s-mc{
    margin-left: 1rem;
    color: var(--cg_three);
    font-weight: 500;
}

.add-new-mc{
    display: flex;
    gap: 5px;
}

.headerRegister-mc, .header-primary-mc{
    background: var(--cg_one);
    color: #fff;
}

.headerUpdate-mc{
    background: rgb(68, 212, 116);
    color: #fff;
}

/* MOSTRAR Y OCULTAR CONTRASEÑA */
.eye-show-mc{
    display: flex;
    align-items: center;
    gap: 5px;
}

.container-eye-mc{
    cursor: pointer;
}

/* ACOMODANDO POSICION ELEMENTOS DATATABLE */
.dataTables_wrapper{
    flex-direction: column;
    display: flex;
    position: relative;
}

.dataTables_length{
    order: 1;
    text-align: right !important;
}

.dt-buttons{
   order: 3;
   width: max-content;
   position: absolute;
}

.dataTables_filter{
    order: 2;
    width: max-content;
    position: absolute;
}

.table_order{
    order: 4;
}

.dataTables_info{
    order: 5;
}

.dataTables_paginate{
    order: 6;
}
/* -------------------------------------- */

.login-content .login-box {
    position: relative;
    min-width: 350px;
    min-height: max-content;
    background-color: #fff;
    -webkit-box-shadow: 0px 29px 147.5px 102.5px rgba(0, 0, 0, 0.05), 0px 29px 95px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 29px 147.5px 102.5px rgba(0, 0, 0, 0.05), 0px 29px 95px 0px rgba(0, 0, 0, 0.16);
    -webkit-perspective: 800px;
    perspective: 800px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
  }

.forget-form {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .forget-form {
    opacity: 0;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  
  .login-content .login-box.flipped {
    min-height: max-content;
  }
  
  .login-content .login-box.flipped .login-form {
    opacity: 0;
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
}
  
  .login-content .login-box.flipped .forget-form {
            opacity: 1;
            -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
  }